<!-- begin subscribe -->
{% assign c = "c-subscribe" %}
<section class="{{c}} section">
  <div class="container">
    <div class="row">
      <div class="col col-12">

        <div class="{{c}}__inner text-center">
          <div class="{{c}}__info">
            <h3 class="{{c}}__title">{{ site.data.newsletter.newsletter_title }}</h3>
            <div class="{{c}}__subtitle">
              <span id="ityped"></span>
            </div>
          </div>

          <div class="{{c}}__form">
            <a href="{{ site.data.newsletter.newsletter_url }}" target="_blank" class="c-button c-button--primary c-button--large" id="membedded-subscribe" type="submit" name="subscribe">{{ site.data.newsletter.newsletter_button }}</a>
          </div>

          <div class="{{c}}__info">
            <div class="{{c}}__subnote">
              <span>{{ site.data.newsletter.newsletter_subnote }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end subscribe -->

<script>
  var itype_text = ['{{ site.data.newsletter.newsletter_description }}'];
</script>
